<div class="v-marq" aria-hidden="true">
  <div class="marq-t">
    <span>Power Meets Style</span><span class="mdot">✦</span>
    <span>Premium Giyim</span><span class="mdot">✦</span>
    <span>Voltix 2025</span><span class="mdot">✦</span>
    <span>Luxury Streetwear</span><span class="mdot">✦</span>
    <span>Refined. Bold. Worn.</span><span class="mdot">✦</span>
    <span>Ücretsiz Kargo</span><span class="mdot">✦</span>
    <span>Power Meets Style</span><span class="mdot">✦</span>
    <span>Premium Giyim</span><span class="mdot">✦</span>
    <span>Voltix 2025</span><span class="mdot">✦</span>
    <span>Luxury Streetwear</span><span class="mdot">✦</span>
    <span>Refined. Bold. Worn.</span><span class="mdot">✦</span>
    <span>Ücretsiz Kargo</span><span class="mdot">✦</span>
  </div>
</div>
{% schema %}{"name":"Marquee","settings":[],"presets":[{"name":"Marquee"}]}{% endschema %}
